@import "../../styles/variables";

.d-grid {
  display: grid;
  width: 100vw;
  height: 100%;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-areas:
    "header header header"
    "central central central"
    "footer footer footer"
}

.header {
  grid-area: header;
  background-color: $white;
  max-height: 80px;
  border-bottom: 1px solid  $gray;
}

.central {
  grid-area: central;
}

.footer {
  grid-area: footer;
  background-color: $white;
  border-top: 1px solid  $gray;
}

