<div class="d-grid">
    <div class="source p-4">
        <b>Sources</b>
    </div>
    <div class="translate p-4">
        <b>Target</b>
    </div>
    <div class="description p-4">
        <b>Information</b>
    </div>
</div>

<ng-container *ngFor="let text of arrTranslates | sortByEmpty">

    <div class="d-grid" [ngClass]="{'edit': text.edit}">
        <div class="source">
            {{text.source[0] | json }}
        </div>
        <div class="translate">
            <div class="d-flex">
                <ng-container *ngIf="!text.edit">
                    <div class="f-gr-1">
                        {{text.target[0]['_'] }}
                    </div>
                    <i class="fa fa-pencil pointer d-block" (click)="text.edit = !text.edit"
                       aria-hidden="true"></i>
                </ng-container>
                <ng-container *ngIf="text.edit">
                    <div>
                        <div class="d-flex w-100">{{text.target[0]|json}}</div>
                        <textarea
                                class="w-100 h-100 f-gr-1"
                                name="target"
                                type="text"
                                [(ngModel)]="text.target[0]['_']">
                    </textarea>
                    </div>

                    <i class="fa fa-floppy-o pointer d-block"
                       (click)="change(); text.edit = !text.edit" aria-hidden="true"></i>
                </ng-container>
            </div>
        </div>
        <div class="description">
            <span>
                Translation in a file:
            </span>
            <ng-container *ngIf="text['context-group'][0]['context'] && text['context-group'][0]['context'][0]">
                {{text['context-group'][0]['context'][0]['_']}} (line: {{text['context-group'][0]['context'][1]['_']}})
            </ng-container>
        </div>
    </div>
</ng-container>
