<div class="d-grid">
    <div class="source">
        <b>исходный текст</b>
    </div>
    <div class="translate">
        <b>перевод</b>
    </div>
    <div class="description">
        <b>описание</b>
    </div>
</div>

<ng-container *ngFor="let text of arrTranslates">

<div id="d-grid" class="d-grid">

        <div class="source">
            {{text.source[0] }}
        </div>
        <div class="translate">
            {{text.target[0]['_'] }}
        </div>
        <div class="description">

        </div>
</div>
</ng-container>
